*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin/Java/Android
/.idea/
/build/
/captures/
/.externalNativeBuild/
.cxx/

# OS junk
Thumbs.db

# Jetpack Compose specific
**/build/
**/navigationDebug/
app/src/main/assets/minilm/

/app/src/main/assets/minilm.onnx
/app/src/main/java/com/zeros/notephiny/Temps.kt
/app/src/main/java/com/zeros/notephiny/testing_features/
